#markan-dialog {
  background: #363636;
  position: absolute;
  z-index: 9001;
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transition: opacity, -webkit-transform 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: opacity, -webkit-transform 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -webkit-transition: opacity, transform 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: opacity, transform 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
#markan-dialog.active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#markan-dialog.point-up {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
#markan-dialog:after {
  content: "";
  position: absolute;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.16);
  left: 50%;
  bottom: -7px;
  margin-left: -7px;
  width: 14px;
  height: 14px;
  background-image: -webkit-linear-gradient(-135deg, transparent 50%, #363636 50%);
  background-image: linear-gradient(-135deg, transparent 50%, #363636 50%);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#markan-dialog.point-up:after {
  top: -7px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#markan-dialog.left-arr:after {
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg);
}
#markan-dialog.right-arr:after {
  -webkit-transform: rotateY(180deg) skewY(-45deg);
  transform: rotateY(180deg) skewY(-45deg);
}
